@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #0B0F17;
}

@layer utilities {
  .gradient_background {
    border-radius: 82.932px;
    background: linear-gradient(180deg, #0D1C2E 0%, #0B0F17 13.79%, #0B0F17 90.75%, #0E1B2B 100%);
  }

  .hero-div-gradient {
    border-radius: 27.644px;
    background: linear-gradient(0deg, #151C2A 0%, rgba(17, 23, 34, 0.00) 100%);
    width: 55.288px;
    height: 130.681px;
  }

  .hero-shadow {
    box-shadow: 0px 0px 50.26177978515625px 0px rgba(255, 255, 255, 0.20);
  }

  .expert-shadow {
    box-shadow: 0px 0px 37.69633483886719px 0px rgba(255, 255, 255, 0.25);
  }
}